.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.display-none {
  display: none;
}

.buttons-container {
  margin-top: 16px;
  gap: 6rem;
  display: flex;
  flex-direction: row;

}

.import-export-container {
  margin: 32px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6rem;
}

.ctrl-button {
  padding: 0.8rem 1rem;
  font-size: 2rem;
  background: none;
  border: 1px solid lightgray;
  outline: none;
  transition: 0.2s all ease;
  &:hover {
    box-shadow: 0 0 10px 0 gray;
    cursor: pointer;
  }
  &:active {
    box-shadow: 0 0 10px 0 darkgray;
  }
  &:disabled {
    opacity: 0.65;
    pointer-events: none;
  }
}
