.canvas-container {
  margin-top: 16px;
  height: 700px;
  width: 700px;
  border: solid 1px lightgray;

}

.buttons-container {
  margin-top: 16px;
  gap: 6rem;
  display: flex;
  flex-direction: row;
  button {
    padding: 1rem;
    font-size: 2rem;
    background: none;
    border: 1px solid lightgray;
    outline: none;
    &:hover {
      box-shadow: 0 0 10px 0 gray;
    }
    &:active {
      box-shadow: 0 0 10px 0 darkgray;
    }

  }
}
